Source: systemd-gpio
Section: devel
Priority: optional
Maintainer: Tom Dewey <tom.dewey@raspberrypi.com>
Build-Depends: debhelper (>= 13), pandoc
Standards-Version: 4.6.2
Homepage: https://www.raspberrypi.com/software

Package: systemd-gpio
Architecture: arm64
Pre-Depends: dpkg (>= 1.16.1), ${misc:Pre-Depends}
Depends: ${misc:Depends}, python3, python3-gpiozero, python3-click
Description: Systemd trigger for GPIO events
 This package provides a systemd service that triggers when a GPIO pin is
 pressed, released, or held. It is intended to be used with the Raspberry Pi
 devices that have GPIO pins accessible to the user.
